@import "tailwindcss";

:root {
  --foreground-rgb: 17, 24, 39; /* gray-900 */
  --background-start-rgb: 255, 255, 255; /* white */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base resets for titles */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.025em;
}

/* Custom transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
